
<p class='text-muted' style="color:#D46A6A;" align="right">
      </i>
      </p>
      <h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Categoria: <%= @topic.name %></h1>
<table  class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><b>  <%= article.title %> </b><br> <h6> <i> <%= article.author %></i></h6>
            <h6> <p align="justify"><%= article.description %></p></h6>
        </td>
        <td WIDTH="100"><%= link_to 'Ver más', article %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if user_signed_in?%>
<%if current_user.has_role? :admin%>
<center>
  <div class='btn btn-group'>
    <%= link_to 'Editar', edit_topic_path(@topic) , :class=>'btn btn-sm btn-primary'%>
     <%= link_to 'Borrar', @topic, method: :delete, data: { confirm: 'Seguro?' } , :class=>'btn btn-sm btn-danger'%>
    <%= link_to 'Atras', topics_path , :class=> 'btn btn-sm btn-default'%>
  </div>
</center>
<%else%>
<center>
    <%= link_to 'Atras', topics_path , :class=> 'btn btn-sm btn-default'%>
</center>
<%end%>
<%else%>
<center>
    <%= link_to 'Atras', topics_path , :class=> 'btn btn-sm btn-default'%>
</center>
<%end%>
