<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;"><%= @country.name %></h1>
<p>
  <strong>Code:</strong>
  <%= @country.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>
<%= link_to 'Destroy', @country, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
